/*
 * Empty Stylesheet file.
 */

.bigAnchor  {
    
    -fx-background-color: black;
    -fx-background-image: url("stars.jpeg");
}

.lilAnchor  {
    
    
}


.button  {
    
   
    
    
}

.label  {
    
    
}

.topBox  {
    
    -fx-background-image: url("cloud.jpg");
}